* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    width: 20%;
    background-color: #00a5de;
    padding: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;   /* centreer sidebar activiteiten verticaal */
    position: relative;        /* relatieve positie act. behouden */
    height: 100%;              /* sidebar achtergrond blauw verticaal volledig */
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    padding: 10px 0; 
    color: white;
    font-size: 20px; 
    white-space: nowrap; 
    text-align: right; /* non-active activiteiten sidebar rechts aligned */
}

.sidebar ul li.active {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 15px;
    margin-right: -15px; /* overlap sidebar highlighted activiteit met grote witte vlak */
    width: calc(100% + 15px); /* witte achtergrond highlight sidebar wijder maken */
    text-align: left; /* active activiteit sidebar links aligned */

}

.content {
    width: 80%;
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: relative;
    margin-top: -1vh; /* marge bovenkant kleiner zodat 1080p weergave gang beter is */
}

.detail-container {
    position: relative;
    width: 90%;
    height: auto;
}

.main-image {
    width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    bottom: -400px;  /* verticaal */
    right: -200px;   /* horizontaal */
    width: 10%;    /* logo grootte aanpassing */
    height: auto;
}

/* details overlay linksonder van grote-foto */
.info-overlay {
    position: absolute;
    bottom: 20px;
    width: 500px;
    left: 0px;
    padding: 20px 0px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.countdown img, .date img, .event img, .location img {
    margin-right: 10px;
    width: 20px;
    height: auto;
}

.countdown, .date, .event, .location {
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
}

.countdown {
    font-weight: bold;

}

.clock {
    position: absolute;
    bottom: 20px;
    margin-left: 12px;
    font-size: 33px;
    color: white;
    text-align: center;
}

.info-section {
    text-align: left;
    width: 90%;
    margin-top: 0px;
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    color: rgb(103, 103, 137);
}

h3 {
    font-size: 20px;
    color: rgb(103, 103, 137);
}

.description {
    font-size: 25px;
    line-height: 1.5;
    margin-top: 20px;
}

@media (max-width: 1080px) {
    .sidebar {
        width: 25%;
    }

    .content {
        width: 75%;
    }

    .detail-container {
        width: 100%;
    }

    .info-section {
        width: 100%;
    }
}